#div1{
    top:100px;
    width: 200px;
    height: 450px;
    background: rgba(173, 168, 170, 0.19);
    position: absolute;
    left: -200px;
    z-index: 8;
}
#div1 span{
    width: 20px;
    height: 80px;
    position: absolute;
    background: #5c3fb9;
    top: 80px;
    right: -20px;
    color: white;
    writing-mode: vertical-lr;/*从左向右 从右向左是 writing-mode: vertical-rl;*/
}

.footprint{margin-bottom: 5px;}
.footprint a{text-decoration: none;color: burlywood;font-family: Consolas,sans-serif;}
